@import 'scss/base/fun';

.create-container {
  position: absolute;
  top: 80px;
  left: 0;
  padding-top: 80px;
  height: calc(100% - 80px);
  width: 100%;
  background: #fff;
}

%post-part {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.6;
}

.post-editor {
  @extend %post-part;
  left: 0;
  border: none;
  background: none;
  outline: none;
  border-right: 1px solid $color-border;

  &:focus {
    outline: none;
  }
}
.post-viewer {
  @extend %post-part;
  right: 0;
}
