@import './base/reset.scss';
@import './base/var.scss';
@import './base/mixin.scss';

.page-container {
  margin: 80px auto 40px;
  padding: 20px;
  width: 900px;
  background: #fff;
  border-radius: 6px;
  min-height: 600px;
  position: relative;
}

.fade-enter,
.fade-appear {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active,
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: 200ms ease-in 100ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: 100ms ease-in;
}
