@import 'scss/base/fun';

.page-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid $color-border;
}

.nav-inner {
  width: $innerWidth;
  height: $navHeight;
  margin: 0 auto;
  display: flex;
  height: $navHeight;
  line-height: $navHeight;
  .nav-logo {
    font-size: 28px;
  }
  .nav-bar {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ul {
    margin: 0;
  }
  .nav-link {
    padding: 0 10px;
    display: inline-block;

    &.nav-link-active {
      color: $color-main;
    }
  }
}
